<h1>Meetups</h1>

<div id="meetup-item">
  {{#if meetups.length}}
    {{#each meetups}}
      <div>
        <div class="col s6 offset-s3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">{{title}}</span>
              <p class="date">{{date}}</p>
            </div>
            <div class="card-content">
              <p class="description">{{description}}</p>
            </div>
            <div class="card-content">
              <p class="tags">#{{tags}}</p>
            </div>
            <div class="card-action actions">
              <a href="/meetup/{{id}}/edit?allow=true">Edit</a>
              <button class="btn btn-small js-remove" data-id="{{id}}">Delete</button>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    <p>List is empty</p>
  {{/if}}
</div>

